@use 'base/variables' as v;

.actions{
  margin-top: 2.3rem;
  display: flex;
  justify-content: space-between;

  &__link{
    color: v.$negro;
    font-size: 1.4rem;
    font-weight: v.$delgada;
  }
}
